/*
Author : Manbendra Satpathy
Created Date : 27 December 2022
Updated Date : 07 January 2022
Description : CSS for Footer of every page
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.content1 {
	position: relative;
	margin: 130px auto;
	text-align: center;
	padding: 0 20px;
}

.content1 .text {
	font-size: 2.5rem;
	font-weight: 600;
	color: #202020;
}

.content1 .p {
	font-size: 2.1875rem;
	font-weight: 600;
	color: #202020;
}

footer {
	position: fixed;
	bottom: 0px;
	height: 10%;
	width: 100%;
	background: black;
}

.main-content {
	display: flex;
}